/* Estilo del botón de Salir */
.btn-logout {
    display: inline-block;
    background-color: #dc3545; /* Rojo */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn-logout:hover {
    background-color: #a71d2a; /* Rojo oscuro al pasar el mouse */
}

.container-logout {
    text-align: right;
    margin: 15px;
}